.main-bg {
  background-color: var(--purple-100);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
}

.section-tittle {
  font-size: var(--text-5xl);
  text-align: center;
  margin-bottom: 2rem;
}

.card-tittle {
  font-size: var(--text-2xl);
}

.section-description {
  font-size: var(--text-lg);
  text-align: center;
  opacity: 0.7;
  line-height: 20px;
}

.card-description {
  font-size: var(--text-base);
  opacity: 0.7;
  line-height: 18px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-2);
  padding: var(--gap-3) var(--gap-4);
  border-radius: var(--radius-full);

  font-size: var(--text-base);
  font-weight: var(--text-semibold);

  cursor: pointer;
}

.primary-btn {
  color: var(--white-10);
  background: linear-gradient(var(--gradient-1));
}

.secondary-btn {
  background: none;
  color: var(--white-10);
  border: 2px solid var(--teal-90);
}


