.main-bg {
  background-color: var(--purple-100);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
}

.section-tittle {
  font-size: var(--text-5xl);
  text-align: center;
  margin-bottom: 2rem;
}

.card-tittle {
  font-size: var(--text-2xl);
}

.section-description {
  font-size: var(--text-lg);
  text-align: center;
  opacity: 0.7;
  line-height: 20px;
}

.card-description {
  font-size: var(--text-base);
  opacity: 0.7;
  line-height: 18px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: var(--radius-full);

  font-size: var(--text-base);
  font-weight: var(--text-semibold);

  cursor: pointer;
}

.primary-btn {
  color: var(--white-10);
  background: linear-gradient(var(--gradient-1));
}

.secondary-btn {
  background: none;
  color: var(--white-10);
  border: 2px solid var(--teal-90);
}

.service-card,
.episode-card,
.host-card,
.btn {
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    backgroundd 0.35s ease;
  will-change: transform;
}

.service-card:hover,
.episode-card:hover,
.host-card:hover,
.btn:hover {
  /* transform: translateY(-8px) scale(1.01); */
  transform: translateY(-2px) scale(1.01);
  box-shadow: var(--shaddow);
}

/* Responsive */
@media screen and (max-width: 1201px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .section-tittle {
    font-size: var(--text-4xl);
  }
}
