#episode-section {
  background-color: #1a0b2e;
}

.episodes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

.episode-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  background:
    linear-gradient(#351165, #351165) padding-box,
    linear-gradient(var(--gradient-1)) border-box;
  border: 2px solid transparent;
  border-radius: 2rem;
  overflow: hidden;
}

.episode-card .episode {
  width: 100%;
  height: 214px;
}

.episode-card .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 2rem 1rem;
}

.card-tittle {
  font-size: 1.5rem;
  font-weight: bold;
}

.duration {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--green-20);
}

/* Responsive */
@media screen and (max-width: 576px) {
  .episodes {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .episodes {
    grid-template-columns: 1fr 1fr;
  }
}
