*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--white-10);
}

button {
  border: none;
  background-color: unset;
}

button:focus {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white-10);
}
