:root {
  /* Font size related variables */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 5rem;

  /* Font weight related variables */
  --text-thin: 100;
  --text-extralight: 200;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;
  --text-extrabold: 800;
  --text-black: 900;

  /* Spacing and gap related variables */
  --gap-fixed: 4px;

  --gap-1: var(--gap-fixed); /* gap: 4px */
  --gap-2: calc(2 * var(--gap-fixed)); /* gap: 8px */
  --gap-3: calc(3 * var(--gap-fixed)); /* gap: 12px */
  --gap-4: calc(4 * var(--gap-fixed)); /* gap: 16px */
  --gap-5: calc(5 * var(--gap-fixed)); /* gap: 20px */
  --gap-6: calc(6 * var(--gap-fixed)); /* gap: 24px */
  --gap-7: calc(7 * var(--gap-fixed)); /* gap: 28px */
  --gap-8: calc(8 * var(--gap-fixed)); /* gap: 32px */
  --gap-9: calc(9 * var(--gap-fixed)); /* gap: 36px */
  --gap-10: calc(10 * var(--gap-fixed)); /* gap: 40px */
  --gap-20: calc(20 * var(--gap-fixed)); /* gap: 80px */
  --gap-30: calc(30 * var(--gap-fixed)); /* gap: 120px */
  --gap-40: calc(40 * var(--gap-fixed)); /* gap: 160px */
  --gap-50: calc(50 * var(--gap-fixed)); /* gap: 200px */
  --gap-60: calc(60 * var(--gap-fixed)); /* gap: 240px */
  --gap-70: calc(70 * var(--gap-fixed)); /* gap: 280px */
  --gap-80: calc(80 * var(--gap-fixed)); /* gap: 320px */
  --gap-90: calc(90 * var(--gap-fixed)); /* gap: 360px */
  --gap-100: calc(100 * var(--gap-fixed)); /* gap: 400px */

  --nav-height: 70px;

  /* colors */
  --purple-100: #1a0b2e;
  --purple-80: #9100f8;
  --pink-70: #db489f;
  --pink-60: #fb09b4;
  --orange-50: rgb(251, 103, 65);
  --yellow-40: #f7e93f;
  --yellow-30: #ecf955;
  --green-20: #00ff88;
  --teal-90: #007b70;
  --white-10: #ffffff;

  /* Gradients */
  --gradient-1:
    to bottom left, var(--purple-80), var(--pink-60), var(--yellow-40);

  /* Border Radius / Rounded Corners */
  --radius-none: 0px;
  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 99px;
  --radius-circle: 50%;
}
