:root {
  /* Font size related variables */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 5rem;

  /* Font weight related variables */
  --text-thin: 100;
  --text-extralight: 200;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;
  --text-extrabold: 800;
  --text-black: 900;

  /* colors */
  --purple-100: #1a0b2e;
  --purple-80: #9100f8;
  --pink-70: #db489f;
  --pink-60: #fb09b4;
  --orange-50: #fb6741;
  --yellow-40: #f7e93f;
  --yellow-30: #ecf955;
  --green-20: rgb(0, 255, 136);
  --teal-90: #007b70;
  --white-10: #ffffff;

  /* Gradients */
  --gradient-1:
    to bottom left, var(--purple-80), var(--pink-60), var(--yellow-40);

  /* Box shaddow */
  --shaddow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 0 18px rgba(0, 255, 136, 0.45);

  /* Border Radius / Rounded Corners */
  --radius-none: 0px;
  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 99px;
  --radius-circle: 50%;
}
